@font-face {
    font-family: 'Petrona';
    src: url('fonts/Petrona-VariableFont_wght.eot');
    src: url('fonts/Petrona-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
        url('fonts/Petrona-VariableFont_wght.woff2') format('woff2'),
        url('fonts/Petrona-VariableFont_wght.woff') format('woff'),
        url('fonts/Petrona-VariableFont_wght.ttf')  format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Petrona';
    src: url('fonts/Petrona-Italic-VariableFont_wght.eot');
    src: url('fonts/Petrona-Italic-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
        url('fonts/Petrona-Italic-VariableFont_wght.woff2') format('woff2'),
        url('fonts/Petrona-Italic-VariableFont_wght.woff') format('woff'),
        url('fonts/Petrona-Italic-VariableFont_wght.ttf')  format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

:root {
	--decorator-outer-offset-top: .3rem;
	--decorator-outer-offset-left: -.475rem;
	--decorator-border-width: 1px;
	--decorator-outer-dim: 12px;
	--decorator-border: 4px solid #F3E0E1;
}

.decorator {
 flex:0 0 0;
 position:relative;
 width:2pt;
 min-height:100%;
 border-left:var(--decorator-border);
}
.decorator::before {
 position:absolute;
 top:var(--decorator-outer-offset-top);
 left:var(--decorator-outer-offset-left);
 content:' ';
 display:block;
 width:var(--decorator-outer-dim);
 height:var(--decorator-outer-dim);
 border-radius:calc(var(--decorator-outer-dim) / 2);
 background-color:#e8987f
}
.decorator::after {
 position:absolute;
 top:calc(var(--decorator-outer-offset-top) + var(--decorator-border-width));
 left:calc(var(--decorator-outer-offset-left) + var(--decorator-border-width));
 content:' ';
 display:block;
 width:calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
 height:calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
 border-radius:calc((var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2);
 background-color:#e8987f
}
.blocks:last-child .decorator {
 margin-bottom:0.25in
}

/* Make bold text bolder */
strong, b, .b {
  font-weight: 800;
}

/* Headings with DM Sans - lighter weight */
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

/* Fix mobile sidebar spacing - reduce grey box height */
@media screen and (max-width: 60em) {
  .page-sidebar {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    min-height: auto !important;
    height: auto !important;
  }
  .page-sidebar .sidebar-about {
    padding-bottom: 1rem !important;
  }
  .page-sidebar .blog-info {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .page-sidebar img {
    max-height: 250px !important;
    width: auto !important;
    object-fit: contain !important;
  }
  .page-main {
    padding-top: 1rem !important;
  }
}

/* Hide post details (Posted on, Length, See Also) */
details,
.post-details,
.page-sidebar details,
.sidebar-section details {
  display: none !important;
}

/* Make site logo larger */
.site-brand img,
.site-logo img,
header .logo img {
  max-height: 70px !important;
  height: auto !important;
  width: auto !important;
}
