<head>
  {{ partial "meta.html" . }}
  {{ template "_internal/schema.html" . }}
  
  <!-- Person Schema for Google Knowledge Panel and Image Search -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Onur Altindag",
    "alternateName": "Onur Altındağ",
    "givenName": "Onur",
    "familyName": "Altindag",
    "jobTitle": "Associate Professor of Economics",
    "worksFor": {
      "@type": "Organization",
      "name": "Bentley University",
      "url": "https://www.bentley.edu"
    },
    "url": "https://onuraltindag.info",
    "image": [
      "https://onuraltindag.info/img/onur-altindag-economist.png",
      "https://onuraltindag.info/img/onur-altindag-marathon-runner.jpg",
      "https://onuraltindag.info/about/sidebar/avatar.png"
    ],
    "sameAs": [
      "https://scholar.google.com/citations?user=Ds24wSAAAAAJ&hl=en",
      "https://github.com/ronuraltindag",
      "https://twitter.com/ronuraltindag",
      "https://www.iza.org/"
    ],
    "alumniOf": {
      "@type": "Organization",
      "name": "Bentley University"
    },
    "knowsAbout": ["Economics", "Population Health", "Public Policy", "Social Protection"]
  }
  </script>
  {{ template "_internal/google_analytics.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  {{ `<!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->` | safeHTML }}
  <link rel="shortcut icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  <link rel="icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  {{ range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ $styles := resources.Get "scaffold.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  <!-- panelset.js -->
  {{ $panelsetJs := resources.Get "js/panelset.js" | js.Build "panelset.js" | minify | fingerprint }}
  <script src="{{ $panelsetJs.RelPermalink }}" type="text/javascript"></script>
  <!-- headroom.js -->
  {{ $mainJs := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint }}
  <script src="{{ $mainJs.RelPermalink }}" type="text/javascript"></script>

  <script src="https://cdn.lr-ingest.com/LogRocket.min.js"></script>
  <script>window.LogRocket && window.LogRocket.init('efvbgu/personal_web');</script>
  
</head>
